@import "../../variables.css";

.mockupElement {
    display: flex;
    flex-direction: row;
    width: fit-content;
    min-width: 316px;
    height: fit-content;
    background-color: var(--base-color-white);
    border-radius: 4px;
    border: 1px solid var(--base-color-light-grey);
  }

  .mockup-color-bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }

  .mockup-color-bar-color {
    width: 3rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--base-color-dark-grey);
  }

  .mockup-color-bar-color-top {
    border-top-left-radius: 4px;
    border-bottom: 1px solid var(--base-color-dark-grey);
  }

  .mockup-color-bar-color-bottom {
    border-bottom-left-radius: 4px;
  }

  .mockup-illustration-container {
    padding: 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
