@import "../../variables.css";

.App {
  display: grid;
  overflow: hidden;
  grid-template-areas: "colorbar content";
  grid-template-columns: 185px auto;
  height: 100vh;
  background-color: var(--base-color-white);
}

.colorBar {
  grid-area: colorbar;
  /*overflow: scroll; blir aktuelt hvis vi vil ha scroll i fargene*/
}

.rightSideBar {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1rem;
  width: 100%;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--base-color-light-beige);
  padding: 30px;
  justify-content: space-between;
}

.aboutSectionLeft {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 235px;
  padding: 10px;
}

.aboutSectionRight {
  flex-direction: column;
  width: 60%;
  padding: 10px;
}

.aboutSectionTextBoxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
}

.tableSection {
  padding: 1rem;
  background-color: var(--base-color-white);
}

.mockupSection {
  padding: 2rem;
  background-color: var(--base-color-light-beige);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  background-color: var(--base-color-dark-grey); /* Fargeøsnke? */
  border: none;
  border-radius: 4px;
  color: var(--base-color-white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  max-width: 14em;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: var(--base-color-pink);
}

.primaryButton{
  background-color: var(--base-color-pink);
  color: var(--base-color-black)
}

.primaryButton:hover{
  background-color: var(--base-color-dark-pink);
  color: var(--base-color-white);
}


.h1-aboutSection-title {
  font-size: 26px;
}

.h3-small {
  font-size: 16px;
  font-weight: normal;
}

.p-small-about {
  font-size: 14px;
  max-width: 50ch;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
}

