/*SPDX-License-Identifier: GPL-3.0-or-later*/
@import "../../variables.css";

.mockupElement {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    background-color: var(--base-color-white);
    border-radius: 4px;
    /*border: 1px solid var(--base-color-dark-grey)*/
  }

  .mockup-color-bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }

.mockup-test-button-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: .5rem;
}

.mockupn{
  -webkit-transition: box-shadow .1s ease-in-out;
  -moz-transition: box-shadow .1s ease-in-out;
  -o-transition: box-shadow .1s ease-in-out;
  -ms-transition: box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
}

.mockupn:hover{
  box-shadow: 1px 1px;
  transform: scale(1.04);
}
  