.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c4259;
  color: #ffffff;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "empty title title  menu";
  height: 5rem;
}

.mainMenu {
  grid-area: menu;
  display: flex;
  justify-content: right;
  align-items: center;
  height: inherit;
  margin: 0;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  user-select: none;
  height: inherit;
}


