:root {
  --mark-diametre: 1em;
}

.timeline {
  display: flex;
  align-items: center;
  min-width: 20vw;
  margin-top: 30vh; /* OBS FJERN SENERE*/
  height: 20vh;
}

.line {
  display: flex;
  align-items: center;
  height: calc(var(--mark-diametre) / 2);
  background: black;
  position: relative;
  min-width: 40vw;
  pointer-events: none;
}

.mark {
  width: var(--mark-diametre);
  height: var(--mark-diametre);
  background: black;
  border-radius: 50%;
}

.start-mark {
  position: absolute;
  left: calc(var(--mark-diametre) / 2 * -1);
  background: black;
}

.end-mark {
  position: absolute;
  right: calc(var(--mark-diametre) / 2 * -1);
  background: black;
}
