/*SPDX-License-Identifier: GPL-3.0-or-later*/
@import "../../variables.css";

.contrast-summary-content {
  background-color: var(--base-color-white);
  border-radius: .5em;
}

.contrast-summary-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: .5em;
  padding: .5em;
}

li.contrast-summary-list-item + li.contrast-summary-list-item {
  margin-top: .5em;
}


.color-combo-circle {
  border-radius: 1.5em;
  border-width: 1.5em;
  border-style: solid;
  height: 0px;
  width: 0px;
}

.color-combo-text {
  margin: 0;
  padding: .1rem 0rem .1rem .8rem;

}

p.no-elements {
  padding: 1em;
}
