
/*// SPDX-License-Identifier: GPL-3.0-or-later */

:root {
    --base-color-black: #1f1235;	
    --base-color-dark-grey: #3e3e3e;  
    --base-color-mid-grey: #878787;
    --base-color-light-grey: #f3f3f3;
    --base-color-light-beige: #f8f5f2;
    --base-color-white: #fcfcfc;
    --base-color-pink: #ff8280;
    --base-color-dark-pink: #b44d4b;
}