/*SPDX-License-Identifier: GPL-3.0-or-later*/
@import "../../variables.css";

.contrastSummary {
    width: 14rem;
    background-color: var(--base-color-light-grey);
    padding: 1rem;
    height: fit-content;
}

.contrastSummaryHeading {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.contrastSummaryHeadingFont{
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.contrastSummaryList {
    padding: 0;
    margin: 0.1rem;
    flex-wrap: wrap;
    min-height: 40px;
    align-items: center;
}

.contrastSummaryListItem{
    padding: 0;
    margin: .3rem .3rem .3rem .3rem;
}