.myColors {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100vw;
  background-color: #f1f1f1;
  height: fit-content;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: "heading colors";
  margin-bottom: 2rem;
}

.headingAndButton {
  grid-area: heading;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}

.addColorButton{
  width: fit-content;
  padding: .7rem 0.7rem 0.7rem .7rem;

}

.inputFields {
  grid-area: input;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}
