@import "../../variables.css";

.myColors {
  min-height: 100vh;
  height: fit-content;
  background-color: var(--base-color-light-grey);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-right: 2px groove var(--base-color-dark-grey);
}

.button {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 5rem 1rem;
  align-items: center;
}

.addColorButton{
  width: fit-content;
  padding: .7rem 0.7rem 0.7rem .7rem;
  font-size: 12px;
}

.inputFields {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
