/*SPDX-License-Identifier: GPL-3.0-or-later*/
@import "../../variables.css";

.adaptive-bar {
  background-color: var(--base-color-light-grey);
  display: grid;
}

@media screen and (min-width: 900px) {
    .adaptive-bar {
        border-right: 2px groove var(--base-color-dark-grey);
        grid-template-areas: "heading" "controls" "colorlist" "freespace";
        grid-template-rows: auto auto auto 1fr;
        height: 100vh;
        max-width: 245px;
    }
    
    .empty-message {
	    width: 100%;
	}
	
	.color-list-controls {
    	flex-direction: row;
    }
}

@media not screen and (min-width: 900px) {
    .adaptive-bar {
        border-bottom: 2px groove var(--base-color-dark-grey);
        grid-template-areas: "heading controls colorlist freespace";
        grid-template-columns: auto auto auto 1fr;
        height: 100px;
        width: 100vw;
    }
    
    .color-list-controls {
    	flex-direction: column;
    }
}

.adaptive-color-list {
  gap: 1rem;
  grid-area: colorlist;
  padding: 0;
  margin: 1rem;
  scrollbar-color: #cccccc #ffffff
}

.disabled-message {
    display: none;
}

.enabled-message {
    display: grid;
    align-items: center;
}

.enabled-message > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.dummy-item {
    visibility: hidden;
    position: relative;
}

.empty-message {
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.color-list-controls {
    display: flex;
  grid-area: controls;
  grid-gap: .5em;
  justify-self: center;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 900px) {
    .adaptive-color-list {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media not screen and (min-width: 900px) {
    .adaptive-color-list {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden; 
    }
}

h1 {
  margin: 0; 
}
.colorBar h1 {
  margin: 1rem; 
  text-align: center;
}

.my-color-list-item {
  padding: 0;
}

.palette-button {
  padding: .7em;
  width: 1em;
  height: 1em;
  border-radius: .5rem;
  font-size: 30px;
  /* height: 50px; */
  margin: 0; 
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
}

.palette-add {
  grid-area: addbutton;
}

.palette-clear {
  grid-area: clearbutton;
}
